.all-movie-posters {
  padding-top: 8px;
  width: 131px;
  height: 225px;
  cursor: pointer;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(237, 237, 217, 0.959);
  height: 309px;
}

.movie:hover {
  transition: .5s;
  transform: scale(1.1);
}

p {
  margin: 0px;
}

.title {
  padding: 8px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.release, .rating {
  font-size: 12px;
}

.rating {
  padding-bottom: 4px;
}
